.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.git/**
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
CONTRIBUTING.md
RELEASE.md
test-project/**
*.vsix
.github/**
package-lock.json
